{% if git_branch == 'master' %}
{# ****************************** master configuration ************************************** #}
PORT=6000
JWT_SECRET=eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9
MONGO_URI='mongodb://10.10.4.60:5556,10.10.4.60:5557,10.10.4.60:5558/dhamaka_payment?readPreference=secondaryPreferred&maxStalenessSeconds=120&replicaSet=dhamaka_payment_rs'
BKASH_APP_KEY=5tunt4masn6pv2hnvte1sb5n3j
BKASH_APP_SECRET=1vggbqd4hqk9g96o9rrrp2jftvek578v7d2bnerim12a87dbrrka
BKASH_USERNAME=sandboxTestUser
BKASH_PASSWORD=hWD@8vtzw0
BKASH_GRANTTOKEN_URL=https://checkout.sandbox.bka.sh/v1.2.0-beta/checkout/token/grant
BKASH_CREATEPAYMENT_URL=https://checkout.sandbox.bka.sh/v1.2.0-beta/checkout/payment/create
BKASH_EXECUTEPAYMENT_URL=https://checkout.sandbox.bka.sh/v1.2.0-beta/checkout/payment/execute/
{% elif git_branch == 'stage' %}
{# ****************************** stage configuration ************************************** #}
PORT=6000
JWT_SECRET=eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9
MONGO_URI='mongodb://127.0.0.1:5556,127.0.0.1:5557,127.0.0.1:5558/dhamaka_payment?readPreference=secondaryPreferred&maxStalenessSeconds=120&replicaSet=dhamaka_payment_dev_rs'
BKASH_APP_KEY=5tunt4masn6pv2hnvte1sb5n3j
BKASH_APP_SECRET=1vggbqd4hqk9g96o9rrrp2jftvek578v7d2bnerim12a87dbrrka
BKASH_USERNAME=sandboxTestUser
BKASH_PASSWORD=hWD@8vtzw0
BKASH_GRANTTOKEN_URL=https://checkout.sandbox.bka.sh/v1.2.0-beta/checkout/token/grant
BKASH_CREATEPAYMENT_URL=https://checkout.sandbox.bka.sh/v1.2.0-beta/checkout/payment/create
BKASH_EXECUTEPAYMENT_URL=https://checkout.sandbox.bka.sh/v1.2.0-beta/checkout/payment/execute/
{% else %}
{# ****************************** develop configuration ************************************** #}
PORT=6000
JWT_SECRET=eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9
MONGO_URI='mongodb://127.0.0.1:5556,127.0.0.1:5557,127.0.0.1:5558/dhamaka_payment?readPreference=secondaryPreferred&maxStalenessSeconds=120&replicaSet=dhamaka_payment_dev_rs'
BKASH_APP_KEY=5tunt4masn6pv2hnvte1sb5n3j
BKASH_APP_SECRET=1vggbqd4hqk9g96o9rrrp2jftvek578v7d2bnerim12a87dbrrka
BKASH_USERNAME=sandboxTestUser
BKASH_PASSWORD=hWD@8vtzw0
BKASH_GRANTTOKEN_URL=https://checkout.sandbox.bka.sh/v1.2.0-beta/checkout/token/grant
BKASH_CREATEPAYMENT_URL=https://checkout.sandbox.bka.sh/v1.2.0-beta/checkout/payment/create
BKASH_EXECUTEPAYMENT_URL=https://checkout.sandbox.bka.sh/v1.2.0-beta/checkout/payment/execute/
{% endif %}
