{% if git_branch == 'master' %}
{# ****************************** master configuration ************************************** #}
NODE_ENV=prod
HOST=0.0.0.0
PORT=5000
DB_URL=10.10.4.16:5556,10.10.5.37:5557,10.10.6.24:5558
DB_RS=dhamaka_rs
DB_NAME=dhamaka
REDIS_HOST=10.10.4.6
REDIS_PORT=6379
REDIS_PASS={{ MASTER_REDIS_PASS }}
DB_USER={{ MASTER_DB_USER }}
DB_PASS={{ MASTER_DB_PASS }}
JWT_SECRET={{ MASTER_JWT_SECRET }}
CBL_URL='https://ecomm-webservice.thecitybank.com:7788/transaction'
CBL_MERCHANT_ID='9105929178'
CBL_USERNAME='dhamaka'
CBL_PASSWORD='123456Aa'
CBL_SSL_CRT='cityback.crt'
CBL_SSL_KEY='cityback.key'
BKASH_URL='https://tokenized.sandbox.bka.sh/v1.2.0-beta/tokenized/checkout'
BKASH_USERNAME='sandboxTokenizedUser02'
BKASH_PASSWORD='sandboxTokenizedUser02@12345'
BKASH_APP_KEY='4f6o0cjiki2rfm34kfdadl1eqq'
BKASH_APP_SECRET='2is7hdktrekvrbljjh44ll3d9l1dtjo4pasmjvs5vl5qr3fug4b'
MAIL_NOREAPLY_USER=no-reply@microtradegroup.com
MAIL_NOREAPLY_PASS={{ MASTER_MAIL_NOREAPLY_PASS }}
SSL_SMS_TOKEN={{ MASTER_SSL_SMS_TOKEN }}
SSL_USERNAME={{ MASTER_SSL_USERNAME }}
SSL_PASSWORD={{ MASTER_SSL_PASSWORD }}
SSL_SERVICEID={{ MASTER_SSL_SERVICEID }}
AWS_ACCESS_KEY_ID=AKIA5GCHZ4XHHZTYYBWM
AWS_SECRET_KEY=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
SSLCOMMERZ_URL=https://securepay.sslcommerz.com
SSLCOMMERZ_VALIDATION=/validator/api/validationserverAPI.php
SSLCOMMERZ_STORE_ID={{ MASTER_SSLCOMMERZ_STORE_ID }}
SSLCOMMERZ_STORE_PASSWORD={{ MASTER_SSLCOMMERZ_STORE_PASSWORD }}
SSLCOMMERZ_SESSION_URL=https://securepay.sslcommerz.com/gwprocess/v4/api.php
DACAST_ACC_ID={{ MASTER_DACAST_ACC_ID }}
DACAST_API_KEY={{ MASTER_DACAST_API_KEY }}
DACAST_API_BASE=https://api.dacast.com/v2
DACAST_PLAYER=https://player.dacast.com/js/player.js
BEST_SELLER=50
AWS_BUCKET=dhamaka-production
AWS_BUCKET_FOR_SMS=dhamaka-sms-dispatch
GOOGLE_WEB_CLIENT=116640120546-h4gvgmb09k5m0pasr2vg919rbctb0ua0.apps.googleusercontent.com
GOOGLE_IOS_CLIENT=116640120546-ndrgleg350arnq9r8qki74ha4bgkb9p5.apps.googleusercontent.com
GOOGLE_ANDROID_CLIENT=116640120546-0ok2fl7vv393kbljd2f4clhr2bjq3d4v.apps.googleusercontent.com
SERVICE_URL=https://service.dhamakashopping.com
STOREFRONT_URL=https://dhamakashopping.com
BACKOFFICE_URL=https://backoffice.dhamakashopping.com
{% elif git_branch == 'stage' %}
{# ****************************** stage configuration ************************************** #}
NODE_ENV=stage
HOST=0.0.0.0
PORT=5000
DB_URL=127.0.0.1:5556,127.0.0.1:5557,127.0.0.1:5558
DB_RS=dhamaka_dev_rs
DB_NAME=dhamaka
DB_USER={{ STAGE_DB_USER }}
DB_PASS={{ STAGE_DB_PASS }}
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASS={{ STAGE_REDIS_PASS }}
JWT_SECRET={{ STAGE_JWT_SECRET }}
CBL_URL='https://sandbox.thecitybank.com:7788/transaction'
CBL_MERCHANT_ID='11122333'
CBL_USERNAME='test'
CBL_PASSWORD='123456Aa'
CBL_SSL_CRT='cityback.crt'
CBL_SSL_KEY='cityback.key'
BKASH_URL='https://tokenized.sandbox.bka.sh/v1.2.0-beta/tokenized/checkout'
BKASH_USERNAME='sandboxTokenizedUser02'
BKASH_PASSWORD='sandboxTokenizedUser02@12345'
BKASH_APP_KEY='4f6o0cjiki2rfm34kfdadl1eqq'
BKASH_APP_SECRET='2is7hdktrekvrbljjh44ll3d9l1dtjo4pasmjvs5vl5qr3fug4b'
MAIL_NOREAPLY_USER=no-reply@microtradegroup.com
MAIL_NOREAPLY_PASS={{ STAGE_MAIL_NOREAPLY_PASS }}
SSL_SMS_TOKEN={{ STAGE_SSL_SMS_TOKEN }}
SSL_USERNAME={{ STAGE_SSL_USERNAME }}
SSL_PASSWORD={{ STAGE_SSL_PASSWORD }}
SSL_SERVICEID={{ STAGE_SSL_SERVICEID }}
AWS_ACCESS_KEY_ID=AKIA5GCHZ4XHHZTYYBWM
AWS_SECRET_KEY=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
SSLCOMMERZ_URL=https://securepay.sslcommerz.com
SSLCOMMERZ_VALIDATION=/validator/api/validationserverAPI.php
SSLCOMMERZ_STORE_ID={{ STAGE_SSLCOMMERZ_STORE_ID }}
SSLCOMMERZ_STORE_PASSWORD={{ STAGE_SSLCOMMERZ_STORE_PASSWORD }}
SSLCOMMERZ_SESSION_URL=https://securepay.sslcommerz.com/gwprocess/v4/api.php
DACAST_ACC_ID={{ STAGE_DACAST_ACC_ID }}
DACAST_API_KEY={{ STAGE_DACAST_API_KEY }}
DACAST_API_BASE=https://api.dacast.com/v2
DACAST_PLAYER=https://player.dacast.com/js/player.js
BEST_SELLER=50
AWS_BUCKET=dhamaka-staging
AWS_BUCKET_FOR_SMS=dhamaka-sms-dispatch
GOOGLE_WEB_CLIENT=116640120546-h4gvgmb09k5m0pasr2vg919rbctb0ua0.apps.googleusercontent.com
GOOGLE_IOS_CLIENT=116640120546-ndrgleg350arnq9r8qki74ha4bgkb9p5.apps.googleusercontent.com
GOOGLE_ANDROID_CLIENT=116640120546-0ok2fl7vv393kbljd2f4clhr2bjq3d4v.apps.googleusercontent.com
SERVICE_URL=https://stage-service.dhamakashopping.com
STOREFRONT_URL=https://stage-storefront.dhamakashopping.com
BACKOFFICE_URL=https://stage-backoffice.dhamakashopping.com
{% else %}
{# ****************************** develop configuration ************************************** #}
NODE_ENV=dev
HOST=0.0.0.0
PORT=5000
DB_URL=127.0.0.1:5556,127.0.0.1:5557,127.0.0.1:5558
DB_RS=dhamaka_dev_rs
DB_NAME=dhamaka
DB_USER={{ DEVELOP_DB_USER }}
DB_PASS={{ DEVELOP_DB_PASS }}
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASS={{ DEVELOP_REDIS_PASS }}
JWT_SECRET={{ DEVELOP_JWT_SECRET }}
CBL_URL='https://sandbox.thecitybank.com:7788/transaction'
CBL_MERCHANT_ID='11122333'
CBL_USERNAME='test'
CBL_PASSWORD='123456Aa'
CBL_SSL_CRT='cityback.crt'
CBL_SSL_KEY='cityback.key'
BKASH_URL={{ MASTER_BKASH_URL }}
BKASH_USERNAME={{ MASTER_BKASH_USERNAME }}
BKASH_PASSWORD={{ MASTER_BKASH_PASSWORD }}
BKASH_APP_KEY={{ MASTER_BKASH_APP_KEY }}
BKASH_APP_SECRET={{ MASTER_BKASH_APP_SECRET }}
MAIL_NOREAPLY_USER=no-reply@microtradegroup.com
MAIL_NOREAPLY_PASS={{ DEVELOP_MAIL_NOREAPLY_PASS }}
SSL_SMS_TOKEN={{ DEVELOP_SSL_SMS_TOKEN }}
SSL_USERNAME={{ DEVELOP_SSL_USERNAME }}
SSL_PASSWORD={{ DEVELOP_SSL_PASSWORD }}
SSL_SERVICEID={{ DEVELOP_SSL_SERVICEID }}
AWS_ACCESS_KEY_ID=AKIA5GCHZ4XHHZTYYBWM
AWS_SECRET_KEY=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
SSLCOMMERZ_URL=https://sandbox.sslcommerz.com
SSLCOMMERZ_VALIDATION=/validator/api/validationserverAPI.php
SSLCOMMERZ_STORE_ID={{ DEVELOP_SSLCOMMERZ_STORE_ID }}
SSLCOMMERZ_STORE_PASSWORD={{ DEVELOP_SSLCOMMERZ_STORE_PASSWORD }}
SSLCOMMERZ_SESSION_URL=https://sandbox.sslcommerz.com/gwprocess/v4/api.php
DACAST_ACC_ID={{ DEVELOP_DACAST_ACC_ID }}
DACAST_API_KEY={{ DEVELOP_DACAST_API_KEY }}
DACAST_API_BASE=https://api.dacast.com/v2
DACAST_PLAYER=https://player.dacast.com/js/player.js
BEST_SELLER=50
AWS_BUCKET=dhamaka-development
AWS_BUCKET_FOR_SMS=dhamaka-sms-dispatch
GOOGLE_WEB_CLIENT=116640120546-h4gvgmb09k5m0pasr2vg919rbctb0ua0.apps.googleusercontent.com
GOOGLE_IOS_CLIENT=116640120546-ndrgleg350arnq9r8qki74ha4bgkb9p5.apps.googleusercontent.com
GOOGLE_ANDROID_CLIENT=116640120546-0ok2fl7vv393kbljd2f4clhr2bjq3d4v.apps.googleusercontent.com
SERVICE_URL=https://develop-service.dhamakashopping.com
STOREFRONT_URL=https://develop-storefront.dhamakashopping.com
BACKOFFICE_URL=https://develop-backoffice.dhamakashopping.com
{% endif %}
