#{{ ansible_managed }}
user              www-data;
worker_rlimit_nofile 10000;
worker_processes  {{ worker_processes }};
pid        /var/run/nginx.pid;


events {
    worker_connections  {{ nginx_max_clients }};
    multi_accept on;
    use epoll;
}

http {
    client_max_body_size 8M;
    client_body_buffer_size 10m;
    client_body_timeout 35;
    client_header_timeout 35;
    send_timeout 60;
    types_hash_max_size 2048;
    access_log off;
    log_not_found off;
    fastcgi_buffers 256 16k;
    fastcgi_buffer_size 128k;
    fastcgi_connect_timeout 10s;
    fastcgi_send_timeout 120s;
    fastcgi_read_timeout 120s;
    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
    include /etc/nginx/mime.types;
    default_type application/octet-stream;
    
    {% if nginx_proxied is defined %}
        set_real_ip_from 0.0.0.0/0; # To enable client IP logging
        real_ip_header X-Forwarded-For;
        
        log_format detailed '$remote_addr - $remote_user [$time_local] '
                        '"$host" "$request" $status $request_time $body_bytes_sent '
                        '"$http_referer" "$http_user_agent" "$http_x_forwarded_for"';
    {% else %}
        log_format detailed '$remote_addr - $remote_user [$time_local] '
                '"$host" "$request" $status $request_time $body_bytes_sent '
                '"$http_referer" "$http_user_agent" "$http_x_forwarded_for"';
    {% endif %}

    access_log {{ nginx_log_dir}}/{{ nginx_access_log_name}};
    error_log {{ nginx_log_dir}}/{{ nginx_error_log_name}};
    {% for k,v in nginx_http_params.iteritems() %}
    {{ k }}  {{ v }};
    {% endfor %}
    gzip on;
    gzip_disable "msie6";
    gzip_vary on;
    gzip_proxied any;
    gzip_comp_level 6;
    gzip_min_length 1100;
    gzip_buffers 16 8k;
    gzip_http_version 1.1;
    gzip_types text/plain text/css application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript;

    include /etc/nginx/conf.d/*.conf;
    include /etc/nginx/sites-enabled/*;
}