{% if git_branch == 'master' %}
{# ****************************** master configuration ************************************** #}
NODE_ENV=production
PORT=5001
HOST=0.0.0.0
NEXT_STATIC_API=https://service.dhamakashopping.com/graphql
NEXT_STATIC_ASSET=https://dhamaka-production.s3-ap-southeast-1.amazonaws.com
NEXT_STATIC_SOCKET_URL=wss://service.dhamakashopping.com/graphql
NEXT_STATIC_GOOGLE_CLIENT_ID=116640120546-h4gvgmb09k5m0pasr2vg919rbctb0ua0.apps.googleusercontent.com
NEXT_STATIC_FACEBOOK_ID=197478598139519
{% elif git_branch == 'stage' %}
{# ****************************** stage configuration ************************************** #}
NODE_ENV=production
PORT=5001
HOST=0.0.0.0
NEXT_STATIC_API=https://stage-service.dhamakashopping.com/graphql
NEXT_STATIC_ASSET=https://dhamaka-staging.s3-ap-southeast-1.amazonaws.com
NEXT_STATIC_SOCKET_URL=wss://stage-service.dhamakashopping.com/graphql
NEXT_STATIC_GOOGLE_CLIENT_ID=927644492817-85hghvjiff63a1dq3f1i7kdh2bqb90ec.apps.googleusercontent.com
NEXT_STATIC_FACEBOOK_ID=2654062874648157
{% else %}
{# ****************************** develop configuration ************************************** #}
NODE_ENV=production
PORT=5001
HOST=0.0.0.0
NEXT_STATIC_API=https://develop-service.dhamakashopping.com/graphql
NEXT_STATIC_ASSET=https://dhamaka-development.s3-ap-southeast-1.amazonaws.com
NEXT_STATIC_SOCKET_URL=wss://develop-service.dhamakashopping.com/graphql
NEXT_STATIC_GOOGLE_CLIENT_ID=927644492817-f4kmogojdcd7qh2329qcotinh6cqfi58.apps.googleusercontent.com
NEXT_STATIC_FACEBOOK_ID=487941122115454
{% endif %}
