{% if git_branch == 'master' %}
{# ****************************** master configuration ************************************** #}
NODE_ENV=production
PORT=5002
HOST=0.0.0.0
NEXT_STATIC_API=https://service.dhamakashopping.com/graphql
NEXT_STATIC_ASSET=https://dhamaka-production.s3-ap-southeast-1.amazonaws.com
NEXT_STATIC_SOCKET_URL=wss://service.dhamakashopping.com/graphql
{% elif git_branch == 'stage' %}
{# ****************************** stage configuration ************************************** #}
NODE_ENV=production
PORT=5002
HOST=0.0.0.0
NEXT_STATIC_API=https://stage-service.dhamakashopping.com/graphql
NEXT_STATIC_ASSET=https://dhamaka-staging.s3-ap-southeast-1.amazonaws.com
NEXT_STATIC_SOCKET_URL=wss://stage-service.dhamakashopping.com/graphql
{% else %}
{# ****************************** develop configuration ************************************** #}
NODE_ENV=production
PORT=5002
HOST=0.0.0.0
NEXT_STATIC_API=https://develop-service.dhamakashopping.com/graphql
NEXT_STATIC_ASSET=https://dhamaka-development.s3-ap-southeast-1.amazonaws.com
NEXT_STATIC_SOCKET_URL=wss://develop-service.dhamakashopping.com/graphql
{% endif %}
